
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.Redressed{
    font-family: "Redressed", cursive;
    font-weight: 400;
    font-style: normal;
  }
  .montserrat{
    font-family: "Montserrat", sans-serif;
    
    
  }
  .merriweather {
    font-family: "Merriweather", serif;
    font-size: 40px;
  }
.cc-navbar{
    background-color: rgba(19, 45, 117, 0.6);
    box-shadow: 2px solid rgb(0, 0, 0, .6);
    z-index: 99;
}
.barre_caché{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #bd8d8d;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgb(204, 175, 175);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
 }
.navbar-brand {
    font-size: 30px; /* Ajuste la taille selon ton besoin */
}
.cc-navbar .nav-link{
    border-bottom: 1px solid transparent ;
    transition: padding-bottom 0.4s ease-in-out,border-color 0.3s ease;
}
.cc-navbar .nav-link:hover{
    padding-bottom: 20px;
    border-bottom: #ebe7e1;
}
.navbars{
    position: absolute;
    left: 0;
    width: 100%;
    padding-block: 18px;
    z-index: 4;

}
@media screen and (max-width:768px){
    .cc-navbar .navbar-menu{
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 380px;
        height: 100%;
        background: #ebe7e1;

    }
    .cc-navbar .navbar-menu .nav-link{
        color: black;
        text-decoration: none;
        display: block;
        margin-top: 16px;
        font-size: 30px;
    }
}
a {
    text-decoration: none; /* Supprime le soulignement */
    color: inherit; /* Utilise la couleur par défaut du texte */
}

a:hover {
    color: #ffffff; /* Change la couleur au survol si nécessaire */
}

.text-muted {
    color: #6c757d !important; /* Ajuste la couleur du texte pour correspondre au design */
}

.banniere,
.order-form{
    background: linear-gradient( rgba(19, 45, 117, 0.6),rgba(19, 45, 117, 0.6)) ,
     url("../stagesteve/assets/images/image1.jpg") center center fixed no-repeat ;
     height: 800px;
    background-size: cover;
}
.order-form{
    height: 500px;
 }
span{
    font-size: 25px;
    font-family: merriweather;
}
.text-normal {
    text-transform: none;
}
.cc-titre{
text-align: center;
padding: 30px 0 50px;
text-transform: uppercase;
font-size: blue;
}
.cc-titre::after{
    content: "";
    width: 300px;
    height: 3px;
    display: block;
    background: #2c95d0;
    justify-self: center;
    margin: 10px;
}

.cc-service {
    background: linear-gradient( rgba(19, 45, 117, 0.6),rgba(19, 45, 117, 0.6)) ,
    url("../stagesteve/assets/images/img2.jpg") center center fixed no-repeat ;
    min-height: 100vh;
    background-size: cover;
    justify-content: center;
    align-items: center;
}
.cc-service .nav-link{
    font-size: 30px;
}
.cc-service .nav-link:hover{
    color: black;
    background: #ebe7e1;
}
.card-img-top {
    width: 100%; /* Adapte l'image à la largeur de la carte */
    height: 300px; /* Ajuste la hauteur (modifiable selon besoin) */
    object-fit: cover; /* Garde l'image bien cadrée sans déformation */
}



.cc-footer {
    height: 400px;
}
.btn-order{
    color: rgb(0, 0, 0);
    border-color: #ebe7e1;
    background-color: #ebe7e1;
}
.btn-order:hover,
.btn-order:active{
    color: white;
    border-color: #e4e1eb;
    background:rgba(19, 45, 117, 0.6);
}






/* SERVICES.html*/



:root{
--hoockers-green_20: hsl(148, 20%, 38%, 0.2);
--pale-spring-bud: hsl(60, 68%, 85%);
--hoockers-green: hsl(148, 20%, 38%);
--spanish-gray: hsl(0, 0%, 61%);
--light-gray: hsl(0, 0%, 80%);
--cultured-1: hsl(0, 0%, 97%);
--cultured-2: hsl(60, 6%, 93%);
--gray-web: hsl(0, 0%, 49%);
--white_30: hsl(0, 0%, 100%, 0.3);
--black_70: hsla(0, 0%, 0%, 0.7);
--black_50: hsla(0, 0%, 0%, 0.5);
--black_15: hsla(0, 0%, 0%, 0.15);
--black_10: hsla(0, 0%, 0%, 0.1);
--black_5: hsla(0, 0%, 0%, 0.05);
--white: hsl(0, 0%, 100%);
--black: hsl(0, 0%, 0%);

--gradient: linear-gradient(to right, transparent 50%, var(--white_30) 100%);
--ff-urbanist: 'Urbanist', sans-serif;

--fs-1: 4.8rem;
--fs-2: 4rem;
--fs-3: 3.4rem;
--fs-4: 2.4rem;
--fs-5: 2rem;
--fs-6: 1.8rem;
--fs-7: 1.5rem;
--fs-8: 1.4rem;
--fs-9: 1.3rem;

--fw-400: 400;
--fw-500: 500;
--fw-600: 600;
--fw-700: 700;
--fw-800: 800;

--section-padding: 35px;

--shadow-1: 0 8px 16px var(--black_15);
--shadow-2: 0 4px 10px var(--black_5);

--radius-3: 3px;

--transition-1: 0.25s ease;
--transition-2: 0.5s ease;
--cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
--cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);

}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{list-style: none;}

img,
span,
input,
button,
ion-icon {display: block;}

a{
    text-decoration: none;
    color: inherit;
}
img{ height: auto;}

input,
button {
    background: none;
    border: none;
    font: inherit;
}

input{width: 100%;}
button{cursor: pointer;}

ion-icon{
    pointer-events: none;
    --ionicon-stroke-width:25px;
}

html{
    font-family: var(--ff-urbanist);
    font-size: 10px;
    scroll-behavior: smooth;
}


body{
    background-color: var(--white);
    color: var(--gray-web);
    font-size: 1.6rem;
    font-weight: var(--fw-500);
    line-height: 1.6;
    height: 300vh;
}
:focus-visible{
    outline-offset: 4px;
}
::-webkit-scrollbar-track{background-color: hsl(0, 0%, 95%);}
::-webkit-scrollbar-thumb{background-color: hsl(0, 0%, 80%);}

::-webkit-scrollbar-thumb:hove r{background-color: hsl(0, 0%, 70%);}


/* Grand titre*/
.container{ padding-inline: 15px;}

/*   main*/
.section{padding-block: var(--section-padding);}

.has-bg-image{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    

}

.h1,
.h2,
.h3,
.h2-large{
    color: var(--black);
    font-weight: var(--fw-600);
    line-height: 1.3;
}
.h1{
    font-style: var(--fs-1);
    line-height: 1.2;
}
.h2{
    font-style: var(--fs-3);
}
.h2-large{
    font-style: var(--fs-2);
}
.h3{
    font-style: var(--fs-4);
}
.btn{
    font-weight: var(--fw-600);
    max-width: max-content;
    padding: 10px 30px;
    border-radius: var(--radius-3);
    transition: var(--transition-1);
    margin-top: 3px;
}
.btn-primary,
.btn-secondary:is(:hover , :focus){
    background-color: var(--black);
    color: var(--white);
}

.btn-primary:is(:hover, :focus){
    background-color: var(--hoockers-green) ;
}
.btn-secondary{
    background-color: var(--white);
    color: var(--black);
    box-shadow: var(--shadow-2);
}

.has-scrollbar{
    display: flex;
    gap: 15px;
    overflow-x: auto;
    padding-block-end: 15px;
    margin-block-end: -15px;
    scroll-snap-type: inline mandatory;
}

.scrollbar-item{
    min-width: 100%;
    scroll-snap-type: start;

}
.has-scrollbar::-webkit-scrollbar-track,
.has-scrollbar::-webkit-scrollbar-thumb{background-color: transparent;}

.has-scrollbar:is(:hover, :focus-within)::-webkit-scrollbar-track{
    background-color: hsl(0, 0%, 98%);
}
.has-scrollbar:is(:hover, :focus-within)::-webkit-scrollbar-thumb{
    background-color: hsl(0, 0%, 70%);}
    

.has-before,
.has-after{

    position: relative;
    z-index: 1;
}

.has-before::before,
.has-after::after{
    content: "";
    position: absolute;
}
.hover\:shine{overflow: hidden;}
.hover\:shine .has-bg-image{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: -1;
    transition: var(--transition-2);
}

.hover\:shine:is(:hover, :focus) .has-bg-image{transform: scale(1.15);}

.hover\:shine::before{
    top: 0;
    left: -140%;
    bottom: 0;
    width: 100%;
    background-image: var(--gradient);
    transform: skewX(250deg);
    transition: var(--transition-2);
    z-index: 1;
}

.hover\:shine:is(:hover, :focus-within)::before{ animation: shine 1s ease forwards;}

@keyframes shine{
    0%{transform: skewX(-25deg) translateX(0);}
    100%{transform: skewX(-25deg) translateX(250%);}
}

.btn-link{
    color: var(--black);
    font-weight: var(--fw-600);
    display: flex;
    align-items: center;
    gap: 3px;
    transition: var(--transition-1);
}

/*   main close */

/*_____________________________________
header
____________________________________*/
.header .input-wrapper,
.header-action-btn:not(:first-child),
.navbar{display: none;}
.header{
    position: relative;
    padding-block-end: 80px;
}
.alert{
    background-color: #2c95d0;
    color: var(--black);
    font-size: var(--fs-7);
    text-transform: uppercase;
    font-weight: var(--fw-700);
    letter-spacing: 2px;
    text-align: center;
    padding-block: 15px;
}

.header-top{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--white);
    padding-block: 26px;
    z-index: 4;
}
.header-top.active{
    position: fixed;
    top: -80px;
    bottom: auto;
    box-shadow: var(--shadow-1);
    transform: translateY(100%);
    transition: var(--transition-1);
}
.header-top.header-hide{
    box-shadow: none;
    transform: translateY(0);
}
.header-top .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.nav-open-btn{
    width: 26px;
    display: grid;
    gap: 6px;
    padding-block: 5px;
}
.nav-open-btn .line{
    height: 2px;
    background-color: var(--black);
}
.nav-open-btn .line1{width: 15px;}

.nav-open-btn .line3{width: 18px;}

.header-action-btn{
    font-style: 28px;
    transition: var(--transition-1);
    
}

.header-action-btn:is(:hover, :focus){
    color: var(--black_70);
}

.sidebar{z-index: 5;}


.mobile-navbar{
    background-color: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    max-width: 350px;  /*sil ya un soucis mettre max-widht:100%*/
    width: 100%;
    z-index: 6;
    transform: translateX(-100%);
    visibility: hidden;
    transition: 0.25s var(--cubic-in);
}
.mobile-navbar.active{
    visibility: visible;
    transform: translateX(0);
    transition: 0.4s var(--cubic-out);
}

.mobile-navbar .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-end: 55px;
}
.nav-close-btn{
    font-style: 28px;
    color: var(--hoockers-green);
}
.nav-close-btn ion-icon{--ionicon-stroke-width:40px}

.mobile-navbar .nav-link{
    color: var(--black);
    font-size: var(--fs-8);
    text-transform: uppercase;
    font-weight: var(--fw-600);
    letter-spacing: 1px;
    padding-block: 5px;
    transition: var(--transition-1);
}

.mobile-navbar .nav-link:is(:hover, :focus){color: var(--hoockers-green);}

.overlay{
    background-color: transparent;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    pointer-events: none;
    transition: var(--transition-1);
}
.overlay.active{
    background-color: var(--black_50);
    pointer-events: all ;
}


/*   main*/
.hero{padding-inline-start: 0;}
.hero-card{
    background-color: var(--light-gray);
    padding: 100px 15px;
    background-position: 40%;
}
.hero-text{
    font-size: var(--fs-6);
    margin-block: 16px 30px;
}
.hero .price{
    color:var(--black);
    font-size: var(--fs-5);
    font-weight: var(--fw-600);
    margin-block-end: 20px;
}
.hero .scrollbar-item{min-width: 100%;}
/*   close main*/


/*_____________________________________
    COLLECTION
____________________________________*/

.collection{padding-block-start: 0;}

.collection-list{
    display: grid;
    gap: 15px;
}
.collection-card{
   
    background-color: var(--light-gray);
    min-height: 400px;
    padding: 40px;
    padding-block-end: 30px;
    display: flex;
    flex-direction: column;
}
.collection-card .card-title{margin-block-end: 12px;}

.collection-card .card-text{
    color: var(--black);
    font-size: var(--fs-6);
    font-weight: var(--fw-600);
    margin-block-end: auto;

}


 /*
 .containers{
    padding-inline: 15px;
 }
 .sections{padding-block: var(--section-padding);}
 .has-bg-image{
    min-width: 40%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 }
.h1,.h2,.h3,.h2-large{
    color: black;
    font-weight: 600;
    line-height: 1.3;
}
.h1{
    font-size: var(--fs-4);
    line-height: 1.2;

}
.h2{
    font-size: var(--fs-3);
   

}
.h2-large{
    font-size: var(--fs-2);


}
.h3{
    font-size: var(--fs-4);
}
.btns{
    font-weight: 600;
    max-width: max-content;
    padding: 10px 30px;
    border-radius: var(--radius-3);
    transition: var(--transition-1);
}
.btns-primary,
.btns-secondary{
    background-color: black;
    color: white;
}
.btns-primary:is(:hover, :focus){
    background-color: rgb(70, 102, 70);
    
}
.btns-secondary{
    background-color: #fff;
    color: black;
    box-shadow: var(--shadow-2);
}
.heros{
    padding-block-start: 0;
}
.heros-cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(190, 188, 188);
    padding: 100px 15px;
    
}
.cards-contents{
    width: 60%;
}

.heros-texts{
    font-size: var(--fs-6);
    margin-block:16px 30px ;
}
.heros .register{
    color: black;
    font-style: var(--fs-5);
    font-weight: 600;
    margin-block-end: 20px;
}


.has-scrollbar{
    display: flex;
    gap: 15px;
    overflow-x: auto;
    padding-block-end: 15px;
    margin-block-end: -15px;
    scroll-snap-type: inline mandatory;
 }
 .scrollbar-item{
    min-width: 100%;
    scroll-snap-align: start;
 }
 .has-scrollbar::-webkit-scrollbar-track,
 .has-scrollbar::-webkit-scrollbar-thumb{
    background-color: transparent;
 }
 .has-scrollbar:is(:hover, :focus-within)::-webkit-scrollbar-track{
    background-color: hsl(0,0%,98%);
 }
 .has-scrollbar:is(:hover, :focus-within)::-webkit-scrollbar-thumb{
    background-color: hsl(0,0%,70%);
 }
 */



/*REDIMENSIONNER Pour les ecrans*/
@media(min-width:992px){
                          
                 /*Hero*/

    .container{max-width: 920px;}

    .scrollbar-item {
        min-width: calc(33.33% - 20px);
      }

     
    .flex-item {
        display: flex;
        max-width: calc(33.33% - 20px);
    }  
            /*Collection*/

    .collection-list{
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
    
    /* Pour la section qui contient les images */
.section.blog {
    padding-bottom: calc(var(--section-padding) * 2); /* Ajuste l'espacement du bas */
}

/* Applique une disposition flexbox */
.flex-list {
    display: flex;
    justify-content: space-between; /* Aligne les éléments avec un espace entre eux */
    flex-wrap: wrap; /* Permet aux éléments de se réorganiser sur plusieurs lignes si nécessaire */
    gap: 20px; /* Espacement entre les images */
}

/* Pour chaque image dans la liste */
.flex-item {
    flex: 1 1 calc(33.33% - 20px); /* Chaque élément prend 33.33% de la largeur, avec un écart de 20px */
    max-width: calc(33.33% - 20px); /* Assure que la largeur maximale est de 33.33% */
    box-sizing: border-box; /* Prend en compte les bordures et marges dans la largeur */
    margin-bottom: 20px; /* Ajoute un peu d'espace entre les lignes */
}

/* Pour chaque carte de blog */
.blog-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s ease;
}

.blog-card:hover {
    transform: translateY(-10px); /* Légère animation au survol */
}

/* Styles de l'image */
.blog-card .card-banner img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease; /* Ajoute un effet de transition pour l'image */
}

/* Au survol, l'image se développe */
.blog-card:hover .card-banner img {
    transform: scale(1.1); /* Zoom sur l'image au survol */
}

/* Titres et autres éléments */
.blog-card .card-title {
    text-align: center;
    margin: 20px 0;
}

.blog-card .btn-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #333;
    padding-inline-start: 80px;
}
.btn-link span{font-size: var(--fs-6);}

.blog-card .btn-link:hover {
    color: var(--hoockers-green); /* Change la couleur du bouton au survol */
}


           /* FOOTER  */
    .footer .logo{display: none;}
    .footer{padding-block: 100px 80px;}
    .footer-top{
        grid-template-columns: 0.4fr 0.4fr 0.4fr 1fr;
        margin-block-end: 120px;
    }
    .footer-list:last-child{grid-column: auto;}
    
    .footer .logo img{ width: 190px;}
}


@media(min-width:1200px){

    .container{max-width: 1300px;}

    .scrollbar-item {
        min-width: calc(20% - 24px);
      }
    
    
    /*COLLECTION*/

    .collection-list{
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    /*                 Effect de survol */
    [data-section] > *{
        transform: translateY(100px);
        opacity: 0;
        transition: var(--transition-2);
    }
    [data-section].active > *{
        transform: translateY(0);
        opacity: 1;
        
    }

    /*HEADER*/
    
    .header .input-wrapper,
    .header-action-btn:not(:first-child),
    .navbar{display:block}

    .nav-open-btn{ display: none;}
    .header{
        padding-block-end: 60px;
        margin-block-end: 10px;
    }

    .header-top{
        position: unset;
        padding-block:24px 0;
        
    }
    .header-top:is(.active, .header-hide){all:unset;}
    .header-top .container{ flex-wrap: wrap;}
    .search-field{
        width: 270;
        font-style: var(--fs-7);
        border: 2px solid var(--hoockers-green_20);
        border-radius: var(--radius-3);
        padding: 10px 20px;
        padding-inline-end: 40px;
        outline: none;
        transition: var(--transition-1);

    }
    .search-field::placeholder{color: var(--spanish-gray);}
    .search-field:focus{border-color: var(--black);}

    .header .input-wrapper{ position: relative;}

    .header .search-submit{
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        font-size: 22px;
    }

    .header .search-submit ion-icon{ --ionicon-stroke-width:40px}
    .header .logo{ margin-inline-end: 60px;}

    .header-actions{
        display: flex;
        align-content: center;
        gap: 40%;
    }
    .header-action-btn{position: relative;}

    .header-action-btn .btn-badge{
        position: absolute;
        top: 0;
        right: -10px;
        background-color: var(--black);
        color: var(--white);
        font-size: var(--fs-9);
        min-width: 18px;
        height: 18px;
        line-height: 1.4;
        border-radius: 20px;
    }
    .header-action-btn:last-child{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .header-action-btn .btn-text{
        font-size: var(--fs-7);
        font-weight: var(--fw-700);
        margin-block-start: 3px;
       

    }
    .navbar{
        position: absolute;
        left: 0;
        width: 100%;
        padding-block: 18px;
        z-index: 4;

    }
    .navbar1{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding-block: 18px;
        background-color: var(--white);
        z-index: 4;
        margin-left: 60px;

    }
    .navbar .navbar-list{
        display: flex;
        justify-content: center;
        gap: 45px;
    }
    .navbar .navbar-link{
        color: var(--black);
        font-size: var(--fs-7);
        font-weight: var(--fw-600);

    }
    .navbar .navbar-link::after{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: var(--black);
        transition: var(--transition-1);
        transform: scaleX(0);
        transform-origin: left;
    }
    
    .navbar .navbar-link:is(:hover, :focus)::after{
        transform: scaleX(1);
    }
    .header-top.active .navbar{
        position: fixed;
        top: -80%;
        bottom: auto;
        padding-block: 28px;
        box-shadow: var(--shadow-1);
        transform: translateY(100%);
        transition: var(--transition-2 );
    }

    .header-top.header-top.header-hide .navbar {
        box-shadow: none;
        transform: translateX(0);
    }

    /* HERO*/
    .hero-card{padding: 120px 100px;}

    .hero-text {max-width: 40ch;}

     /* Blog*/

     .blog .container{ 
        grid-template-columns: repeat(4, 1fr);
        gap: 121px;    }
      
        .blog-card .btn-link {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: #333;
            padding-inline-start: 140px;
        }    

        /* Au survol, l'image se développe */
.blog-card:hover .card-banner img {
    transform: scale(1.1); /* Zoom sur l'image au survol */
}

/* Titres et autres éléments */
.blog-card .card-title {
    text-align: center;
    margin: 20px 0;
}



.btn-link span{font-size: var(--fs-6);}

.blog-card .btn-link:hover {
    color: var(--hoockers-green); /* Change la couleur du bouton au survol */
}


    
}

     /* Blog*/
.blog{ padding-block-end: calc(var(--section-padding) * 2 );}

.blog .section-title{
    text-align: center;
    margin-block-end: 40px;

}
.blog-card .card-banner img{ transition: var(--transition-2);}

.blog-card.link:is(:hover, :focus:focus-within) .card-banner img {transition: scale(1.2);}

.blog-card .card-title{
    text-align: center;
    margin-block: 38px 20px ;
    transition: var(--transition-1);
}
.blog-card .card-title.link:is(:hover, :focus){color: var(--hoockers-green);}
.blog-card .btn-link{justify-content: center;}

    /* Footer*/
.footer .logo{
    display: grid;
}
.footer{
    background-color:#ebe7e1;
    padding-block: 70px;
}
.footer-top{
    display: grid;
    gap: 40px;
    margin-block-end: 60px;
}
.footer-list-title{
    color: var(--black);
    font-style: var(--fs-5);
    font-weight: var(--fw-600);
    text-decoration: underline;
    transition: var(--transition-1);
}
.footer-list-text.titre{
    color: black;
    font-size: var(--fs-3);
}
.footer-list-text .link:is(:hover, :focus){color: var(--hoockers-green);}

.footer-list-text.bold{
    color: var(--black);
    font-weight: var(--fw-800);
    margin-block: 15px 2px;

}
.footer.link{
    font-size: var(--fs-7);
    padding-block: 5px;
}
.ligne{
    display: flex;
    flex-direction: column;
}
.footer-link:is(:hover, :focus){text-decoration: underline;}

.newsletter-title{
    color: var(--black);
    font-size: var(--fs-3);
    font-weight: var(--fw-600);
    line-height: 1.3;
}
.newsletter-text{
    font-style: var(--fs-7);
    line-height: 2;
    margin-block: 10px 36px;
}

.newsletter-form{
    position: relative;
}

.email-field{
    background-color: var(--white);
    font-style: var(--fs-7);
    padding: 12px 18px;
    padding-inline-end: 145px;
    border: 1px solid var(--hoockers-green_20);
    border-radius: var(--radius-3);
    outline: none;
    transition: var(--transition-1);
}

.email-field::placeholder{color: var(--spanish-gray);}

.email-field:focus{border-color: var(--black);}

.newsletter-form .btn{
    position: absolute;
    top: 0;
    right: 0;
    bottom: O ;
}
.copyright{font-size: var(--fs-7);}


.footer-bottom .wrapper{
    display: flex;
    flex-wrap: wrap;

    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    margin-block-end: 20px;
}

.social-list{
    display: flex;
    gap: 20px;
}
.social-link{
    color: var(--black);
    font-size: 18px;
    transition: var(--transition-1);
}

.social-link:is(:hover, :focus){color: var(--hoockers-green);}

.footer-bottom > img{max-width: max-content;}



/*              BACK TO TOOOP*/

.back-top-btn{
    position: fixed;
    bottom: 20px;
    right: 30px;
    background-color: #0000004d;
    color: var(--hoockers-green);
    font-size: 22px;
    padding: 12px;
    border-radius: 50%;
    box-shadow: var(--shadow-1);
    z-index: 4;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition-1);
}

.back-top-btn:is(:hover, :focus){
    background-color:#2c95d0;
    color:var(--white);
}

.back-top-btn.active{

    opacity: 1;
    visibility: visible;
    transform: translateY(-10px);
}







/*Contact.css*/

.containers{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: me;
    
    background: url('assets/images/n.jpg');

}

.containers form{
    width: 670px;
    height: 500px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    flex-wrap: wrap;
}

.containers form h1{
    color: white;
    font-weight: 700;
    line-height: 2;
    margin-top: 20px;
    width: 500px;
    text-align: center;
}

.containers form input{
    width: 300px;
    height: 50px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 20px;
    margin-bottom: 10px;
    background: none;
    border-bottom: 2px solid white;
    color: white;
}

.containers form input::placeholder{
    color: white;
}

.containers form #lastName,
.containers form #mobile {
    margin-left: 20px;
}

.containers form h4{
    color: white;
    font-weight: 300;
    width: 600px;
    margin-top: 20px;
}

.containers form textarea{
    background:rgb(110, 110, 110);
    border: none;
    border-bottom: 2px solid white;
    color: white;
    font-weight: 200;
    font-size: 20px;
    padding: 10px;
    outline: none;
    min-height: 90px;
    max-height: 90px;
    min-width: 620px;
    max-width: 620px;
}

.containers form h4{
    font-size: 20px;
}

.containers form #button{
    border: none;
    background: white;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 24px;
    color: black;
    width: 200px;
    height: 60px;
    padding: 0;
    margin-bottom: 30px;
    transition: 0.3s;
}

.containers form #button:hover{
    background: black;
    color: wheat;
    transition: .5s ease-in-out;
}


@media (max-width:768px) {
    .contact .nav-open-btn{
        display: none;
    }
    .containers form{
        max-width: 80%;
        height: auto;

    }
    .containers form #lastName,
    .containers form #mobile {
        margin-left: 0;
    }

    .containers form h4{
    margin-bottom: 30px;}

    .containers form textarea{
        min-width:  70px;
    }
    
    .logo1{display: none;}
 .ff{
        display: block;
    }
}



@media(min-width:767px) {
    
    /* Styles pour les tablettes */
    .cachenav {
        display: none;
    }
    .containers .logo1{
        margin-left: 280px;
        margin-top: 20px;
    }
    .containers form{
        max-width: 80%;
        height: auto;

    }
    .containers form #lastName,
.containers form #mobile {
    margin-left: 0;
}

.containers form h4{
margin-bottom: 30px;}

.containers form textarea{
    min-width:  100%;
}
.contacts{
    display: none;
} 
}





                   /*ABOUT*/


.tete {
position: relative;
width: 100%;
height: 100vh;
overflow: hidden;
margin-bottom: 30px;
}

.tete video {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
}
.container1 {
    position: relative;
    z-index: 2; /* Assure qu'elle est au-dessus de la vidéo */
}
.tete2{
    transform: translateY(90%);
    margin-left: 100px;

}
.ecrit .h1{
    font-weight: bold;
}
.ecrit .hero-text{
    font-weight: normal;
    color: #7d7f81;
}
.ecrit .price{
    color: black;
}
video{
    background-position: center;
    background-repeat: no-repeat;
 
    background-size: cover;
    
}

@media (min-width: 992px) { /* Lorsque l'écran est plus large que 992px (PC) */
    .tete {
        height: 100vh; /* Ajuster la hauteur de la vidéo sur un grand écran */
    }

    .tete video {
        object-fit: cover;
        width: 100%;
        transform: translateY(-45%); /* Déplace la vidéo de 20% vers le haut */

        height: auto; /* Hauteur automatique pour éviter le recadrage */
    }
    video{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 800px;
    }
}

@media (max-width: 991px) { /* Lorsque l'écran est plus petit (téléphone) */
    .tete {
        height: 100vh; /* Prend toute la hauteur sur mobile */
    }

    .tete video {
        object-fit: cover;
    }
}


.about{
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 80px;
    
}           
        

.box{ max-width: 600px;
}

.localisation{
    font-size: var(--fs-3);
    color: black;
}
.paragraphe{
    color: #41586d;
}
iframe{
    width: 500px;
    height: 500px;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
    opacity: 0.7;
}

iframe:hover{
    transform: scale(1.1);
    opacity: 1;
}

.grid {
    text-align: center;
        text-transform: uppercase;
        font-size: 15px;
    color: black;
    margin-block: 10px;
    margin-right: 580px;
}

.grid h1 {
 
    border-bottom: 2px solid black;
    display: inline-block; /* Permet au soulignement d'être ajusté à la largeur du texte */
    padding-bottom: 5px; /* Espacement entre le texte et le soulignement */
}



        

  
.experts{
    margin-bottom: 80px;

}
.card{
    background-color: #f4fbff;
    margin: 10px;
}
.card img{
    border-radius: 22px;
}
.card-group{
    display: flex;
    gap: 20px;
}

.experts .card-body .text-body-secondary{
    color: yellow;
}

.experts .card{
    transform: translateY();
}

.experts h5{
    margin-block: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: var(--fs-);
}

.experts .para{
    font-size: 13px;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {

    .tete .container1 .ecrit{
        margin-inline-start: -100px;
        transform: translateX(10px);
        margin-block-start: -10px;
        
    }

    .grid1{display: none;}
    .grid2{margin-right: -200px;}
    .about {
        flex-direction: column; /* Empile les éléments en colonne */
        text-align: center; /* Centre le texte */
        gap: 20px; /* Réduit l'espacement entre les éléments */
        margin-bottom: 40px; /* Moins d'espace en bas */
    }

    .box {
        max-width: 90%; /* Ajuste la largeur du texte */
    }

    iframe {
        width: 90%; /* Rend la carte responsive */
        height: 300px; /* Réduit la hauteur pour les petits écrans */
    }

    .card-group{display: flex;flex-direction: column;}
    .card-group {
        display: flex;
        flex-direction: column; /* Afficher les cartes en colonne */
        align-items: center; /* Centrer les cartes */
        gap: 20px;
    }

    .card {
        width: 90%; /* Réduit la largeur des cartes pour bien s'afficher sur mobile */
    }

    .card-img-top {
        max-height: 300px; /* Fixe une hauteur max pour éviter les images trop grandes */
    }

    .ecrit .hero-text{
        font-weight: normal;
        color: rgb(105, 105, 104);
    }
    
    
    
}







      /*footer*/
.footerA .logo{
    display: grid;
}
.footerA{
    background-color:#ebe7e1;
    padding-block: 70px;
}
.footerA-top{
    display: grid;
    gap: 40px;
    margin-block-end: 60px;
}
.footerA-list-title{
    color: var(--black);
    font-style: var(--fs-5);
    font-weight: var(--fw-600);
    text-decoration: underline;
    transition: var(--transition-1);
}
.footerA-list-text.titre{
    color: black;
    font-size: var(--fs-3);
}
.footerA-list-text .link:is(:hover, :focus){color: var(--hoockers-green);}

.footerA-list-text.bold{
    color: var(--black);
    font-weight: var(--fw-800);
    margin-block: 15px 2px;

}
.footerA.link{
    font-size: var(--fs-7);
    padding-block: 5px;
}
.footerA-link:is(:hover, :focus){text-decoration: underline;}

.newsletter-title{
    color: var(--black);
    font-size: var(--fs-3);
    font-weight: var(--fw-600);
    line-height: 1.3;
}
.newsletter-text{
    font-style: var(--fs-7);
    line-height: 2;
    margin-block: 10px 36px;
}

.newsletter-form{
    position: relative;
}

.email-field{
    background-color: var(--white);
    font-style: var(--fs-7);
    padding: 12px 18px;
    padding-inline-end: 145px;
    border: 1px solid var(--hoockers-green_20);
    border-radius: var(--radius-3);
    outline: none;
    transition: var(--transition-1);
}

.email-field::placeholder{color: var(--spanish-gray);}

.email-field:focus{border-color: var(--black);}

.newsletter-form .btn{
    position: absolute;
    top: 0;
    right: 0;
    bottom: O ;
}
.copyright{font-size: var(--fs-7);}


.footerA-bottom .wrapper{
    display: flex;
    flex-wrap: wrap;

    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    margin-block-end: 20px;
}

.social-list{
    display: flex;
    gap: 20px;
}
.social-link{
    color: var(--black);
    font-size: 18px;
    transition: var(--transition-1);
}

.social-link:is(:hover, :focus){color: var(--hoockers-green);}

.footerA-bottom > img{max-width: max-content;}


@media (min-width: 992px) {
    .footerA {
        padding-block: 100px 80px !important;
    }
    .footerA-top {
        display: grid !important;
        grid-template-columns: repeat(4, 1fr) !important;
        gap: 40px;
        margin-block-end: 60px;
    }
    .footerA .logo {
        display: block !important; /* Si elle est cachée */
    }
}

@media(min-width:992px){
                          
   


/* FOOTER  */
.footerA .logo{display: none;}
.footerA{padding-block: 100px 80px;}
.footerA-top{
grid-template-columns: 0.4fr 0.4fr 0.4fr 1fr;
margin-block-end: 120px;
}
.footerA-list:last-child{grid-column: auto;}

.footerA .logo img{ width: 190px;}
}
