
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.Redressed{
    font-family: "Redressed", cursive;
    font-weight: 400;
    font-style: normal;
  }
  .montserrat{
    font-family: "Montserrat", sans-serif;
    
    
  }
  .merriweather {
    font-family: "Merriweather", serif;
    font-size: 50px;
  }
.cc-navbar{
    background-color: rgba(19, 45, 117, 0.6);
    box-shadow: 2px solid rgb(0, 0, 0, .6);
    z-index: 99;
}
.navbar-brand {
    font-size: 30px; /* Ajuste la taille selon ton besoin */
}
.cc-navbar .nav-link{
    border-bottom: 1px solid transparent ;
    transition: padding-bottom 0.4s ease-in-out,border-color 0.3s ease;
}
.cc-navbar .nav-link:hover{
    padding-bottom: 20px;
    border-bottom: #ebe7e1;
}
@media screen and (max-width:768px){
    .cc-navbar .navbar-menu{
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 380px;
        height: 100%;
        background: #ebe7e1;

    }
    .cc-navbar .navbar-menu .nav-link{
        color: black;
        text-decoration: none;
        display: block;
        margin-top: 16px;
        font-size: 30px;
    }
}

.banniere,
.order-form{
    background: linear-gradient( rgba(19, 45, 117, 0.6),rgba(19, 45, 117, 0.6)) ,
     url("../stagesteve/assets/images/image1.jpg") center center fixed no-repeat ;
     height: 800px;
    background-size: cover;
}
.order-form{
    height: 500px;
 }
span{
    font-size: 25px;
    font-family: merriweather;
}
.text-normal {
    text-transform: none;
}
.cc-titre{
text-align: center;
padding: 30px 0 50px;
text-transform: uppercase;
font-size: blue;
}
.cc-titre::after{
    content: "";
    width: 300px;
    height: 3px;
    display: block;
    background: #2c95d0;
    justify-self: center;
    margin: 10px;
}


.btn-order{
    color: rgb(0, 0, 0);
    border-color: #ebe7e1;
    background-color: #ebe7e1;
}
.btn-order:hover,
.btn-order:active{
    color: white;
    border-color: #e4e1eb;
    background:rgba(19, 45, 117, 0.6);
}

